%h1 All Discussions

.ui.items
- @articles.each do |article|
  - color = ["orange","red", "purple","blue", "teal", "green"].sample
  %div{ :class => "ui #{color} segment" }
    .item
      %h2.name= link_to article.title, article_path(article)
      %p.description= article.excerpt
      .extra
        - article.concepts.count
