:plain
  var interval;
  $('.import.segment').show();
  interval = setInterval(function(){
    $.ajax({
      url: '/progress-job/' + #{@job.id},
      success: function(job){
        var stage, progress;

        if (job.last_error != null) {
          $('.label').text(job.progress_stage);
          $('#import').addClass('error');
          $('#import').removeClass('active');
          clearInterval(interval);
        }

        progress = job.progress_current / job.progress_max * 100;
        progress = progress.toFixed(2);
        if (progress.toString() !== 'NaN'){
          $('.label').text(job.progress_current + '/' + job.progress_max);
          $('.bar').css('width', progress + '%')
          $('#text').text(progress + '%');
        }
      },
      error: function(){
        $('#import').removeClass('active');
        $('.bar').css('width', '100%')
        $('#text').text('100%');
        $('.label').text('Successfully imported!');
        clearInterval(interval);
      }
    })
  },100);
